<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
   <h2> <a href="/category_add">Category</a> | <a href="/product_add">Product</a> </h2>
  </body>
</html>
