<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Ministerial</title>
    <link href="default.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div id="wrapper">

        <div id="header-wrapper">
                <div id="header">
                    <div id="logo">
                        <h1><a href="#">Ministerial</a></h1>
                    </div>
                    <div id="menu">
                    <ul>
                        <li><a href="/master" accesskey="1" title="">Homepage</a></li>
                        <!-- <li><a href="#" accesskey="2" title="">Our Clients</a></li> -->
                        <li><a href="#" class="current_page_item" accesskey="3" title="">About Us</a></li>
                        <!-- <li><a href="#" accesskey="4" title="">Careers</a></li> -->
                        <li><a href="/contact" accesskey="5" title="">Contact Us</a></li>
                    </ul>
                </div>
        </div>
    </div>

<div id="page-wrapper">
    <div id="page">
        <div id="wide-content">
            <div>
                <h2>About Us!</h2>
                <p>This is <strong>Ministerial </strong>, a free, fully standards-compliant CSS template designed by FCT. The photos in this template are from Fotogrph. This free template is released under a Creative Commons Attributions 3.0 license, so you are pretty much free to do whatever you want with it (even use it commercially) provided you keep the links in the footer intact. Aside from that, have fun with it :) </p>
                <p>Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. Proin gravida orci porttitor enim accumsan lacinia. Donec condimentum, urna non molestie semper, ligula enim ornare nibh, quis laoreet eros quam eget ante. Aliquam libero. Vivamus nisl nibh, iaculis vitae, viverra sit amet, ullamcorper vitae, turpis. Aliquam erat volutpat. Vestibulum dui sem, pulvinar sed, imperdiet nec, iaculis nec, leo. Fusce odio. Etiam arcu dui, faucibus eget, placerat vel, sodales eget, orci. Donec ornare neque ac sem. Mauris aliquet. </p>
                <p class="button-style"><a href="#">More Details</a></p>
            </div>
        </div>
    </div>
</div>

</div>
<div id="footer">
	<p>Copyright (c) 2012 Sitename.com. All rights reserved. Design by FCT.</p>
</div>  
</body>
</html>