<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Ministerial</title>
    <link href="default.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div id="wrapper">

    <div id="header-wrapper">
            <div id="header">
                <div id="logo">
                    <h1><a href="#">Ministerial</a></h1>
                </div>
                <div id="menu">
                <ul>
                    <li><a href="/master" accesskey="1" title="">Homepage</a></li>
                    <!-- <li><a href="#" accesskey="2" title="">Our Clients</a></li> -->
                    <li><a href="/about"  accesskey="3" title="">About Us</a></li>
                    <!-- <li><a href="#" accesskey="4" title="">Careers</a></li> -->
                    <li><a href="#" class="current_page_item" accesskey="5" title="">Contact Us</a></li>
                </ul>
            </div>
    </div>
</div>

<section class="contact_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Contact Us
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form action="/form-process" method="POST">
              <div>
                <input type="text" placeholder="Your Name"  name="uname" required />
              </div>
              <div>
                <input type="text" placeholder="Phone Number" name="pnumber" required/>
              </div>
              <div>
                <input type="email" placeholder="Email" name="mail" required/>
              </div>
              <div>
                <input type="text" class="message-box" name="yourmsg" placeholder="Message" />
              </div>
              <div class="btn_box">
                <button>
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </section>

</div>
<div id="footer">
	<p>Copyright (c) 2012 Sitename.com. All rights reserved. Design by FCT.</p>
</div>
</body>
</html>