<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Ministerial</title>
    <link href="default.css" rel="stylesheet" type="text/css" media="all" />
    
</head>
<body>
<div id="wrapper">

    <div id="header-wrapper">
            <div id="header">
                <div id="logo">
                    <h1><a href="#">Ministerial</a></h1>
                </div>
                <div id="menu">
                <ul>
                    <li><a href="/master" accesskey="1" title="">Homepage</a></li>
                    <!-- <li><a href="#" accesskey="2" title="">Our Clients</a></li> -->
                    <li><a href="/about"  accesskey="3" title="">About Us</a></li>
                    <!-- <li><a href="#" accesskey="4" title="">Careers</a></li> -->
                    <li><a href="#" class="current_page_item" accesskey="5" title="">Contact Us</a></li>
                </ul>
            </div>
    </div>
</div>

<div id="page-wrapper">
    <div id="page">
        <div id="wide-content">
            <div>

                <h2 style="text-align: center;">Thank you!</h2>
                <h3 style="text-align: center;">Your Query has been submitted</h3>
                <p class="button-style"><a href="/master">Go to Homepage</a></p>
            </div>
        </div>
    </div>
</div>

</div>
<div id="footer">
	<p>Copyright (c) 2012 Sitename.com. All rights reserved. Design by FCT.</p>
</div>
</body>
</html>